@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
nav {
  font-size: 1.3em;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

li {
  margin: 0.5em;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

a {
  font-size: 1.2em;
  color: #fff;
  font-weight: 550;
  text-decoration: none;
}

header {
  background-color: #0046BE;
}

span {
  color: #fff;
}

.MuiButton-label {
  color: #000;
}
